main{
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; //!gap vertical in text
    color: var(--black)
  }
  p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem; //!gap vertical in text
    color: #757575;
  }
}
.main-exchange-container-title{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-backgroundImg{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("@imgs/Bitcoin.svg");
  background-size: cover;
  background-position:center; 
  background-repeat: no-repeat;
}
.main-currency-table{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
}
.main-currency-table .currency-title-table{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange)
}
.currency-table-container{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto ;
}