.main-plans-container{
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans-title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans-title h2{
  padding-top: 50px;
  font-size: 2.6rem;
  line-height: 2.6rem;
  color: var(--black);
}
.plans-title p{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.plans-container-card{
  // outline: 1px solid red;
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado{
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 6px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
  border-radius: 8px;
}
.plan-card-title{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card-price{
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
  // outline: 1px solid red;
}
.plan-card-price sup{
  font-size: 1.3rem;
  font-weight: 500;
  // outline: 1px solid red;
  position: relative;
  top: -10px;
  left: -6px;
}
.plan-card-saving{
  font-size: 1.2rem;
  color: #757575;
}
.plan-card-ca{
  // outline: 1px solid red;
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
	font-family: var(--roboto);
}
.plan-card-ca span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("@icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
  // outline: 1px solid red;
}