.main-product-detail{
  outline: 1px solid red;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warn-black);
}
.batata-logo{
  position: absolute; //! su referencia es el elemento padre
  width: 40px;
  height: 25px;
  left: calc(50% - 20px);
  top: -10px;
  background-image: url("@icons/batata.svg");
}
.product-detail-title{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail-title :nth-child(2){
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail-title :nth-child(3){
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}