/* Root keys */
:root {
	--white: #ffffff;
	--black: #000000;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;

	/* Colors */
	--bitcoin-orange: #F7931A;
	--bitcoin-orange-arrow: #f3b160;
	--soft-orange: #FFE9D5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warn-black: #201e1c;
	--grey: #BABABA;
	--off-white: #fAf8f7;
	--just-white: #fff;
}
/* Box Size */
* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
/* Reset Styles */
html {
	font-size: 62.5%;
	// font-family: "notos", sans-serif;
	font-family: var(--notos);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);/* rgba(0,0,0,0.004) */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
/* Texts Variables */
	--noto: 'Noto Sans HK', sans-serif;
	--notos: 'Noto Serif', serif;
	--lobster: 'Lobster Two', cursive;
	--roboto: 'Roboto', sans-serif;
}
